.policy-container {
  width: 90%;
  margin: auto;
}

.policy-section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.policy-box-1 {
  width: 28rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 26px 12px;
}

.vehicle-box,
.proposer-box,
.policy-box-2 {
  margin: 1rem;
}

.section-header {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}